{% extends 'core/base.html' %}

{% block title %}
    Register
{% endblock title %}

{% block content %}
    <div class="container">
         <form action={% url 'user_account:register' %} method="post" role="form" class="jumbotron">
        <h2 class="h2 display-4 mb-5">Register</h2>
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{error}}</div>
        {% endfor %}
        <div class="fieldWrapper">
            {% for error in form.email.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
            <label for="{{ form.email.id_for_label }}">Email:</label>
            <input type="text" name="email" autofocus id="{{ form.email.id_for_label }}" class="form-control" required>
        </div>
        <div class="fieldWrapper">
            {% for error in form.username.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
            <label for="{{ form.username.id_for_label }}">Your username:</label>
            <input type="text" name="username" autofocus id="{{ form.username.id_for_label }}" class="form-control" required>
        </div>
        <div class="fieldWrapper">
            {% for error in form.password1.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            <input type="password" name="password1" autofocus id="{{ form.password1.id_for_label }}" class="form-control" required>
        </div>
        <div class="fieldWrapper">
            {% for error in form.password2.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
            <label for="{{ form.password2.id_for_label }}">Confirm password:</label>
            <input type="password" name="password2" autofocus id="{{ form.password2.id_for_label }}" class="form-control" required>
        </div>
        <div class="fieldWrapper">
            {% for error in form.birth_date.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
            <label for="{{ form.birth_date.id_for_label }}">Birth Date:</label>
            <input type="date" name="birth_date" autofocus id="{{ form.birth_date.id_for_label }}" class="form-control" required>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary mt-5">
    </form>
    </div>
{% endblock content %}
