body {
    padding: 0;
    margin: 0;
    background-color: red;
}

.navbar {
    background-color:#283e4a;
}

.navbar i {
    color: #006097;
    background-color: white;
    margin: 0.2rem;
}

.app-name {
    color: wheat;
    font-size: 1.6rem;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
}

.app-name:hover {
    opacity: 0.8;
}

#content {
    padding: 0 15%;
    margin: 2rem 0;
}

form.jumbotron {
    width: 480px !important;
    margin: auto;
}